/* icons */
.icon {
	display: block;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 11px;
	background-color: rgb(47, 47, 47);
	border-radius: 50%;
	margin: 10px;
  }
  .ic {
	display: block;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
  }
  
.i-facebook {
	background-image: url('images/facebook.svg');
  }
  
  .i-twitter {
	background-image: url('images/twitter.svg');
  }
  
  .i-youtube {
	background-image: url('images/youtube.svg');
  }
  
  .i-instagram {
	background-image: url('images/instagram.svg');
  }
  
  .i-pinterest {
	background-image: url('images/pinterest.svg');
  }
  
  .i-feed {
	background-image: url('images/rss.svg');
  }
  
  .i-email {
	background-image: url('images/email.svg');
  }

  .i-tnw-small {
	background-image: url('images/tnw-small.svg');
	width: 45px;
	height: 9px;
  }
  
  .i-stackpath {
	background-image: url('images/stackpath.svg');
	width: 75px;
	height: 9px;
  }
   
  .topBlackBar {
    display: flex; 
	background-color: #131313;
	color: white;
	flex-wrap: wrap;
	justify-content: start;
	justify-items: start;
	padding: .3rem 0;
	padding-left: 10px;
}

.aFont {
    text-decoration: none;
    color: hsla(0,0%,100%,.6);
    padding-right: 10px;
    font-family: Arial;
    font-size: 13px;
}
.divFont {
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.aFont:hover {
    color: #fff;
}

.padTop {
    padding-top: 18px;
}
.nav {
    background-color: white;
    z-index: 10;
    box-shadow: 10px 10px 50px rgba(121, 121, 121, 0.438); 
}

.hFont {
    color: #aaa;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Ropa Sans';
    text-decoration: none;
}
.headerLeft {
    float: left;
    display: flex;
    flex-direction: row;
}
.hFont:hover {
    color: #131313;
}
.headerRight {
    float: right;
    padding-top: 15px;
    padding-right: 8px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-left: 1px solid rgba(185, 185, 185, 0.322);

}
.headerLeft {
    float: left;
    display: flex;
    flex-direction: row;
}
.border {
    padding-left: 13px;
    padding-right: 10px;
    margin-left: 0;
}

.yellowBar {
    background-color: #fd3;
    padding-top: 0;
}
.yFont {
    text-decoration: none;
}
.freeTicket {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-family: Arial;
    font-size: 13px;
}
/* main-footer */
.social-links {
	padding: 4rem 0;
	background: #000;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
  }

 .footer-links{
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	background: #000;
	color: white;
	
 }

 .footer-links a{
	 padding-left: 20px;
	 margin: 10px;
	 color: white;
 }

.social-links .icon {
	width: 1.8rem;
	height: 1.8rem;
	 
	
  }

.copyright {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    font-size: 1.3rem;
    color: #999;
    background: #000;
    text-align: center;
}
